<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Bankdetail</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="assets/stylesheets/application.css">
</head>
<body ng-controller="MainCtrl as main">

  <%= yield %>

</body>
<script src="assets/javascripts/application.js"></script>
</html>
